.no-padding{
	padding: 0 0 15px 0;
}
md-input-container input[placeholder="address"]{
	padding: 10px 0 0 0;
}
address:nth-of-type(2){
	width: 290px;
}
md-select .md-select-label.md-placeholder {
  color: rgba(0,0,0,0.54);
  min-width: 150px;
}

md-select .md-select-value {
    min-width: 150px;
}

.md-select-label{
	min-width: 150px;
}

.reportList{
  min-height: 27px;
  padding-bottom: 31px !important;
}

.md-select-icon{
	display: none !important;
}
.checkbox-padding{
	padding-left: 20px;
}
.m-signature-pad {
  font-size: 10px;
  width: 100%;
  height: 150px;
  border: 1px solid #e8e8e8;
  background-color: #fff;
  /*box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.08) inset;
  border-radius: 4px;*/
}


.m-signature-pad--body
  canvas {
    width: 100%;
    height: 150px;
    /*border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.02) inset;*/
  }

@font-face {
  font-family: 'RobotoDraft';
  font-style: normal;
  font-weight: 300;
  src: local('RobotoDraft Light'), local('RobotoDraft-Light'), url(fonts/u0_CMoUf3y3-4Ss4ci-VwfR_54zmj3SbGZQh3vCOwvY.woff) format('woff');
}
@font-face {
  font-family: 'RobotoDraft';
  font-style: normal;
  font-weight: 400;
  src: local('RobotoDraft'), local('RobotoDraft-Regular'), url(fonts/0xES5Sl_v6oyT7dAKuoni7rIa-7acMAeDBVuclsi6Gc.woff) format('woff');
}
@font-face {
  font-family: 'RobotoDraft';
  font-style: normal;
  font-weight: 500;
  src: local('RobotoDraft Medium'), local('RobotoDraft-Medium'), url(fonts/u0_CMoUf3y3-4Ss4ci-VwaTA90I55Xt7owhZwpPnMsc.woff) format('woff');
}
@font-face {
  font-family: 'RobotoDraft';
  font-style: normal;
  font-weight: 700;
  src: local('RobotoDraft Bold'), local('RobotoDraft-Bold'), url(fonts/u0_CMoUf3y3-4Ss4ci-VwRbnBKKEOwRKgsHDreGcocg.woff) format('woff');
}
@font-face {
  font-family: 'RobotoDraft';
  font-style: italic;
  font-weight: 400;
  src: local('RobotoDraft Italic'), local('RobotoDraft-Italic'), url(fonts/er-TIW55l9KWsTS1x9bTfoo3ZslTYfJv0R05CazkwN8.woff) format('woff');
}
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(fonts/2fcrYFNaTjcS6g4U3t-Y5RV6cRhDpPC5P4GCEJpqGoc.woff) format('woff');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  word-wrap: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.print, .signature-words {
  display: none;
}

.tab{
    position: relative;
    top: -13px;
}

.name-circle{
  border-radius: 50%; 
  border: 20px solid #585158; 
  margin-right:10px;
}

.name-circle > span{
    position: absolute;
    top: 12px;
    text-transform: uppercase;
    font-size: 20px;
    left: 30px;
    color: whitesmoke;
}

md-card > div > h2{
  margin-left: 20px;
    margin-top: 40px;
    margin-bottom: 0px;
}

md-card-content.landscape,.landscape{
  overflow: scroll;
  height: 280px;
}

md-card-content.portrait, .portrait{
  overflow: scroll;
  height: 790px;
}

md-card-content .job-landscape{
  overflow: scroll;
  height: 255px;
}

md-card-content .job-portrait{
  overflow: scroll;
  height: 520px;
}

md-card-content.create-job-landscape{
  overflow: scroll;
  height: 555px;
}

md-card-content.create-job-portrait{
  overflow: scroll;
  height: 810px;
}

md-card-content.report-landscape, div.report-landscape{
  overflow: scroll;
  height: 480px; 
}

md-card-content.report-portrait, div.report-portrait{
  overflow: scroll;
  height: 740px;
}

.admin-portrait{
  overflow: scroll;
  height: 660px;  
}

.admin-landscape{
  overflow: scroll;
  height: 450px; 
}


md-card-content.scroll-iPhone{
  overflow: scroll;
  height: 250px;
}

md-toolbar:not(.md-menu-toolbar) {
    background-color: rgba(48,63,66,1);
    color: rgba(255,255,255,0.87);
}

md-toolbar:not(.md-menu-toolbar) md-icon {
    color: rgba(255,255,255,0.87);
}

.groupX {
    font-size: 16px;
    margin: 20px 0;
    padding: 3px 15px 3px 15px;
    color: rgb(49, 46, 46);
    background-color: rgba(224, 224, 224, 0.96);
    text-transform: none;
    font-weight: 400;
    min-width:100px;
}
.md-button.left {
    border-radius: 10px 0 0 10px;
}
.md-button.middle {
    border-radius: 0;
    border-left: 1px solid rgba(230, 230, 230, 0.96);
    border-right: 1px solid rgba(230, 230, 230, 0.96);
}
.md-button.right {
    border-radius: 0 10px 10px 0;
}
section .md-button:not([disabled]):hover {
    background-color: rgba(19, 18, 18, 0.89);
    color: rgba(254, 254, 255, 0.96);
    transition: 0.3s;
}

section .selected{
  background-color: rgba(19, 18, 18, 0.89);
  color: rgba(254, 254, 255, 0.96);
  transition: 0.3s;
}

[ng-model="vm.client.tech"] .md-select-value:first-child {
    margin-top: -4px;
    padding-left: 5px;
  }

md-list > div > md-list-item.ng-scope.md-clickable.selected > button{
  background-color: rgba(48, 63, 66, 0.89);
    color: rgba(254, 254, 255, 0.96);
    transition: 0.3s;
    font-size: 18px;
    border-radius: 8px;
}

.md-datepicker-input {
    font-size: 16px;
 }
 
 md-autocomplete {
     background: none !important; 
}

 md-input-container > md-autocomplete > md-autocomplete-wrap{
  box-shadow: none !important;
}

/* ----------- Non-Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
    
  md-card-content .job-landscape{

    height: 308px;
  }
  md-card-content.create-job-landscape{

    height: 590px;
  }
  md-card-content.report-landscape, div.report-landscape{
    height: 540px;
  }
}

/* ----------- Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
   md-card-content .job-landscape{

    height: 480px;
  }
  md-card-content.create-job-landscape{

    height: 695px;
  }
  md-card-content.report-landscape, div.report-landscape{
    height: 650px;
  }
 
  .admin-landscape{
    overflow: scroll;
    height: 590px; 
  }
}

/* ----------- Print Out ----------- */
@media print {
  md-toolbar,.removeFromPrint,md-divider,button,md-icon,md-tabs {
    display: none !important;
  }
  
  md-card{
    box-shadow: none !important;
  }
  md-list > md-list-item:nth-child(1),md-list > md-list-item:nth-last-child(1), .hideBorder{
    border-right: none;
  }
  md-list-item{
        border-right: 1px solid rgba(0,0,0,0.26);
  }
  
  md-list{
    padding: 0px;
  }
  @page {
    margin: 0.25cm;
  }
  
  .reportList {
    padding-bottom: 23px !important;
  }
  
  input, md-input-container, .m-signature-pad{
    border: none;
    padding: 0px !important;

  }
  
  input, md-input-container{
    margin: 0px !important;
  }

  .page-break	{ 
    padding-bottom: 40px !important;
    page-break-inside: avoid !important; 
   }
  
  .m-signature-pad{
    padding-top: 20px !important;
  }
  body, md-content { 
    font-size: 10pt; 
    overflow: visible !important;
   }
    
  #signature-pad {
    width: 50%;
    height: auto;
    /*position: relative;
    left: 210px;*/
    border-bottom: 1px solid rgba(0,0,0,0.12);
    /*margin-left: -50px;*/
   }
   
  .m-signature-pad--body canvas {
    width: 100%;
    height: 75px;
  }
   
  .print {
    display: block;
  }
  
  .print label{
    color: rgba(0,0,0,0.26);
    padding-left: 2px;
    position: relative;
    top: -2px;
  }
  .print div{
    padding-top: 2px;
    padding-bottom: 1px;
    padding-left: 2px;
    padding-right: 2px;
    border-width: 0 0 1px 0;
    line-height: 26px;
    border-bottom-style: inset;
    margin-bottom: 20px;
  }
  
  md-list-item, md-list-item .md-list-item-inner{
    min-height: 0px;
  }
  
   [hide-sm], .hide-sm{
    display: block !important;
  }
  
  .address, .hideOnPrint{
    display: none !important;
  }
  .signature-words{
    display: block;
  }
  .signature-words > p {
    display: block;
    margin-bottom: 0px;
  }
  .check-marks > p {
    margin: inherit;

  }
  .check-marks > p > i{
    font-size: 18px;
  }
  
  .condition-checkmark  md-checkbox{
    margin: inherit;
  }
  .condition-checkmark  md-checkbox p{
    margin: auto;
    padding: 0px;
  }
 
  [layout-sm="column"], [layout-md="column"]{
    flex-direction: row !important;
  }
  img[alt="address"] {
    display: block;
    max-width: 50%;
    max-height: 115px;
    width: auto;
    height: auto;
    margin-top: -30px;
  }
  
  div.report-landscape, md-card-content.landscape,.landscape,md-card-content.portrait, .portrait,md-card-content.report-landscape,md-card-content.report-portrait{
    overflow: visible;
    height: 100%;
  }

  
  [ng-model="vm.client.tech"] .md-select-value {
    border-bottom: none;
  }


}