<!DOCTYPE html>
<!--<html lang="en" ng-app="ConditionApp" manifest="app.appcache">-->
<html lang="en" ng-app="ConditionApp">

<head>
	<title>Wells Reports</title>
	<link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
	<link rel="stylesheet" href="styles/styles.css">
	<meta name="viewport" content="initial-scale=1, user-scalable = no, width = device-width, shrink-to-fit=no" />
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<link rel="apple-touch-icon" href="images/touch-icon-iphone.png">
	<link rel="apple-touch-icon" sizes="76x76" href="images/touch-icon-ipad.png">
	<link rel="apple-touch-icon" sizes="120x120" href="images/touch-icon-iphone-retina.png">
	<link rel="apple-touch-icon" sizes="152x152" href="images/touch-icon-ipad-retina.png">
</head>

<body layout="column">
	<md-toolbar layout="row">
		<div class="md-toolbar-tools" ng-controller="AppCtrl as app">
			<h1>Well's Sons</h1>
			<span flex></span>
			<md-menu>
				<!-- Trigger element is a md-button with an icon -->
				<md-button ng-click="$mdOpenMenu($event)" class="md-icon-button" aria-label="nav menu">
					<md-icon class="material-icons">menu</md-icon>
				</md-button>
				<md-menu-content>
					<md-menu-item>
						<md-button ng-click="app.nav('jobs')">Open Jobs</md-button>
					</md-menu-item>
					<md-menu-item ng-if="app.user.createJob">
						<md-button ng-click="app.nav('createJob')">Create Job</md-button>
					</md-menu-item>
					<md-menu-item ng-if="app.user.adminstration">
						<md-button ng-click="app.nav('admin')">Adminstration</md-button>
					</md-menu-item>
					<md-divider></md-divider>
					<md-menu-item>
						<md-button ng-click="app.nav('logout')">Log Out {{app.user.name}}</md-button>
					</md-menu-item>
				</md-menu-content>
			</md-menu>
		</div>
	</md-toolbar>
	<md-content layout="row" flex layout-padding>
		<ui-view flex layout-padding ></ui-view>
	</md-content>
	<!-- Angular Material Dependencies -->
	<!--<script src="bower_components/angular/angular.webkitassign.js"></script>-->
	<script src="bower_components/angular/angular.min.js"></script>
	<script src="bower_components/angular-animate/angular-animate.min.js"></script>
	<script src="bower_components/angular-aria/angular-aria.min.js"></script>
	<script src="bower_components/angular-messages/angular-messages.min.js"></script>
	<script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
	<!-- Angular Material Javascript now available via Google CDN; version 0.10 used here -->
	<script src="bower_components/angular-material/angular-material.min.js"></script>
	<!-- Firebase -->
	<script src="bower_components/firebase/firebase.js"></script>
	<!-- AngularFire -->
	<script src="bower_components/angularfire/dist/angularfire.min.js"></script>
	<script src="bower_components/signature_pad/signature_pad.min.js"></script>
	<script src="bower_components/angular-cache/dist/angular-cache.min.js"></script>
	<script src="bower_components/underscore/underscore-min.js"></script>
	<script src="bower_components/re-tree/re-tree.min.js"></script>
	<script src="bower_components/ng-device-detector/ng-device-detector.min.js"></script>
	<script src="bower_components/moment/min/moment.min.js"></script>
	<script src="bower_components/angular-moment/angular-moment.min.js"></script>
	<script src="bower_components/angular-sortable-view/src/angular-sortable-view.min.js"></script>
	<script src="bower_components/angular/angular-ios9-uiwebview.patch.min.js"></script>
	<script src="bower_components/ng-webworker/src/ng-webworker.min.js"></script>
	<script src="bundle.js"></script>
</body>

</html>