<md-dialog layout="column"flex="70">
	<md-toolbar>
		<div class="md-toolbar-tools">
			<span>Manage Crews</span>
			<!-- fill up the space between left and right area -->
			<span flex></span>
			
		</div>
	</md-toolbar>
	<md-dialog-content>
		<form name="crewForm" novalidate>
			<md-input-container>
				<label>Name</label>
				<input type="text" ng-model="mdDialog.crew.name" name="crew" required minlength="4">
				<div ng-messages="crewForm.crew.$error" ng-show="crewForm.crew.$dirty">
					<div ng-message="required">This is required!</div>
					<div ng-message="minlength">That's too short!</div>
				</div>
			</md-input-container>
		</form>
		<div class="md-action" layout="row" layout-align="end center">
			<md-button ng-click="mdDialog.remove(mdDialog.crew)" ng-if="!mdDialog.btnName">
				<md-icon class="material-icons">delete</md-icon>
				<span hide-sm>remove</span>
			</md-button>
			<md-button ng-click="mdDialog.add(mdDialog.crew,crewForm)" ng-if="mdDialog.btnName">
				<md-icon class="material-icons">add_circle</md-icon>
				<span hide-sm>add</span>
			</md-button>
			<md-button ng-click="mdDialog.update(mdDialog.crew,crewForm)" ng-if="!mdDialog.btnName">
				<md-icon class="material-icons">refresh</md-icon>
				<span hide-sm>update</span>
			</md-button>
			<md-button ng-click="mdDialog.closeDialog()">
				<md-icon class="material-icons">cancel</md-icon>
				<span hide-sm>cancel</span>
			</md-button>
		</div>
	</md-dialog-content>
</md-dialog>