<md-tabs md-dynamic-height="true" md-selected="vm.selectedIndex" md-swipe-content>
	<md-tab label="Create New User">
		<md-card>
			<md-card-content>
				<div>
					<h2 class="md-title">Create New User</h2>
				</div>
				<div ng-class="vm.scroll">
					<form name="createForm" novalidate>
						<md-input-container>
							<label>
								<md-icon class="material-icons" layout-padding>person</md-icon>
								Name
							</label>
							<input type="text" ng-model="vm.user.name" name="userName" required minlength="4" ng-pattern="/[A-Z]*\s[A-Z]*/">
							<div ng-messages="createForm.userName.$error" ng-show="createForm.userName.$dirty">
								<div ng-message="required">This is required!</div>
								<div ng-message="minlength">That's too short!</div>
								<div ng-message="pattern">Incorrect format</div>
							</div>
						</md-input-container>
						<md-input-container>
							<label>
								<md-icon class="material-icons" layout-padding>email</md-icon>
								Email Address</label>
							<input type="text" ng-model="vm.user.email" name="email" required minlength="4" ng-pattern="/^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i">
							<div ng-messages="createForm.email.$error" ng-show="createForm.email.$dirty">
								<div ng-message="required">This is required!</div>
								<div ng-message="minlength">That's too short!</div>
								<div ng-message="pattern">You must enter a valid email address</div>
							</div>
						</md-input-container>
						<md-input-container>
							<label>
								<md-icon class="material-icons" layout-padding>lock</md-icon>
								Password</label>
							<input type="password" ng-model="vm.user.password" name="password" required ng-keydown="vm.enroll(createForm,$event)">
							<div ng-messages="createForm.password.$error" ng-show="createForm.password.$dirty">
								<div ng-message="required">This is required!</div>
							</div>
						</md-input-container>
						<md-select name="crew" ng-model="vm.user.crew" placeholder="Select a crew" required ng-keydown="vm.enroll(createForm,$event)">
							<md-option ng-value="crew.name" ng-repeat="crew in vm.crews">{{ crew.name }}</md-option>
						</md-select>
						<div layout="column">
							<div>Set Allowed Permissons</div>
							<div layout="row" layout-padding layout-sm="column" layout-md="column">
								<md-switch ng-model="vm.user.createJob" aria-label="Create Job">Create Job</md-switch>
								<md-switch ng-model="vm.user.editJob" aria-label="Edit Job">Edit Job</md-switch>
								<md-switch ng-model="vm.user.deleteJob" aria-label="Delete Job">Delete Job</md-switch>
								<md-switch ng-model="vm.user.printJob" aria-label="Print Job">Print Job</md-switch>
								<md-switch ng-model="vm.user.adminstration" aria-label="Adminstration">Administration</md-switch>
							</div>
						</div>
					</form>
				</div>
			</md-card-content>
			<div class="md-actions" layout="row" layout-align="end center">
				<md-button ng-click="vm.enroll(createForm,$event)" ng-disabled="createForm.$invalid">Enroll</md-button>
			</div>
		</md-card>
	</md-tab>
<!--Manage Existing Users section-->
	<md-tab label="Manage Existing Users">
		<md-card>
			<md-card-content>
				<div>
					<h2 class="md-title">Manage Existing Users</h2>
				</div>
				<md-list layout="row" style="margin-left: 14px;">
					<md-list-item>Name</md-list-item>
					<md-list-item>Role</md-list-item>
				</md-list>
				<div ng-class="vm.scroll">
					<md-list layout="column" layout-fill>
						<md-list-item ng-repeat-start="user in vm.users" layout="row" ng-click="vm.showEditDialog($event,{data:user})">
							<div ng-style="name-circle-color" class="name-circle">
								<span>{{user.name[0]}}</span>
							</div>
							<p>
								{{user.name}}
							</p>
							<p hide-sm>{{user.crew.toUpperCase()}}</p>
						</md-list-item>
						<md-divider ng-if="!$last" ng-repeat-end md-inset></md-divider>
					</md-list>
				</div>
			</md-card-content>
		</md-card>
	</md-tab>
<!--Manage crew section-->
	<md-tab label="Manage Crews">
		<md-card>
			<md-card-content>
				<div>
					<h2 class="md-title">Manage Crews</h2>
				</div>
				<div ng-class="vm.scroll">
					<md-list layout="column" layout-fill>
						<md-list-item ng-repeat-start="crew in vm.crews" layout="row" layout-padding ng-click="vm.showEditDialog($event,{data:crew})">
							<span>
							<md-icon class="material-icons" style="font-size:35px;margin-right: 20px;margin-top: -10px;">group</md-icon>
						</span>
							<p>{{crew.name}}</p>
						</md-list-item>
						<md-divider ng-if="!$last" ng-repeat-end md-inset></md-divider>
					</md-list>
				</div>
			</md-card-content>
			<md-card-footer>
				<div class="md-actions" layout="row" layout-align="end center">
					<md-button ng-click="vm.showAddDialog($event)">
						<md-icon class="material-icons">group_add</md-icon>
						Add
					</md-button>
				</div>
			</md-card-footer>
		</md-card>
	</md-tab>
</md-tabs>