<md-tabs md-dynamic-height="true" md-selected="vm.selectedIndex">
	<md-tab label="{{tab.label}}" ng-if="tab.ngif" ng-repeat="tab in vm.tabs" md-on-select="vm.selectTab(tab.html)">
		<!--<div ng-include="tab.html"></div>-->
	</md-tab>
	<md-tab ng-if="vm.hideBtn">
		<md-menu class="tab">
			<!-- Trigger element is a md-button with an icon -->
			<md-button ng-click="$mdOpenMenu($event)" class="md-icon-button" aria-label="open add menu">
				<md-icon md-menu-origin md-font-set="material-icons">note_add</md-icon>
			</md-button>
			<md-menu-content>
				<md-menu-item>
					<md-button ng-click="vm.addConditionReport()">Condition Report</md-button>
				</md-menu-item>
				<md-menu-item ng-if="!vm.client.danger">
					<md-button ng-click="vm.addDangerReport()">Danger Report</md-button>
				</md-menu-item>
				<md-menu-item ng-if="!vm.client.water">
					<md-button ng-click="vm.addWaterReport()">Water Report</md-button>
				</md-menu-item>
			</md-menu-content>
		</md-menu>
	</md-tab>
</md-tabs>

<md-content class="md-padding">
	<div ng-include="vm.tabHTML"></div>
</md-content>