<md-dialog layout="column" flex="70">
	<md-toolbar>
		<div class="md-toolbar-tools">
			<span>Manage Crews</span>
			<!-- fill up the space between left and right area -->
			<span flex></span>

		</div>
	</md-toolbar>
	<md-dialog-content>
		<form name="crewForm" novalidate>
			<md-input-container>
				<md-select name="crew" ng-model="mdDialog.crew" placeholder="Select a crew" required ng-keydown="vm.enroll(createForm,$event)">
					<md-option ng-value="crew.name" ng-repeat="crew in mdDialog.crews">{{ crew.name }}</md-option>
				</md-select>
			</md-input-container>
		</form>
		<div class="md-action" layout="row" layout-align="end center">
			<md-button ng-click="mdDialog.update(mdDialog.crew,crewForm)" ng-if="!mdDialog.btnName">
				<md-icon class="material-icons">refresh</md-icon>
				<span hide-sm>update</span>
			</md-button>
			<md-button ng-click="mdDialog.closeDialog()">
				<md-icon class="material-icons">cancel</md-icon>
				<span hide-sm>cancel</span>
			</md-button>
		</div>
	</md-dialog-content>
</md-dialog>