<md-card>
	<md-card-content ng-class="vm.scroll">
		<span class="top"></span>
		<h2 class="md-title">{{vm.name}}</h2>
		<form name="jobForm" novalidate>
			<div style="padding-bottom: 10px;">Choose reports to create: </div>
			<div layout="row" layout-fill layout-align="start start" layout-sm="column" layout-md="column">
				<md-checkbox ng-model="vm.client.condition" aria-label="condition">
					Condition Report
				</md-checkbox>
				<md-checkbox ng-model="vm.client.danger" aria-label="danger">
					Danger Report
				</md-checkbox>
				<md-checkbox ng-model="vm.client.water" aria-label="water">
					Water Report
				</md-checkbox>
			</div>
			<div layout="row" layout-align="start center">
				<p style="color:rgba(0,0,0,0.26);transform: translate3d(0, 2px, 0);">Set Job Date:</p>
				<md-datepicker ng-model="vm.client.jobDate" required></md-datepicker>
			</div>
			<md-input-container>
				<label>Crew</label>
				<md-select ng-model="vm.client.crew" placeholder="Select a crew" required>
					<md-option ng-value="crew.name" ng-repeat="crew in vm.crews">{{ crew.name }}</md-option>
				</md-select>
			</md-input-container>
			<md-input-container>
				<label>Name</label>
				<input type="text" name="name" ng-model="vm.client.name" required ng-minlength="3" ng-pattern="/[A-Z]*\s[A-Z]*/">
				<div ng-messages="jobForm.name.$error" ng-show="jobForm.name.$dirty">
					<div ng-message="required">This is required!</div>
					<div ng-message="minlength">That's too short!</div>
					<div ng-message="pattern">Incorrect format</div>
				</div>
			</md-input-container>
			<md-input-container>
				<label>Address</label>
				<input type="text" name="address" ng-model="vm.client.address" required ng-minlength="3">
				<div ng-messages="jobForm.address.$error" ng-show="jobForm.address.$dirty">
					<div ng-message="required">This is required!</div>
					<div ng-message="minlength">That's too short!</div>
				</div>
			</md-input-container>
			<md-input-container>
				<label>City</label>
				<input type="text" name="city" ng-model="vm.client.city" required ng-minlength="3">
				<div ng-messages="jobForm.city.$error" ng-show="jobForm.city.$dirty">
					<div ng-message="required">This is required!</div>
					<div ng-message="minlength">That's too short!</div>
				</div>
			</md-input-container>
			<md-input-container>
				<label>State</label>
				<md-select ng-model="vm.client.state" required>
					<md-option ng-repeat="state in vm.states" value="{{state.abbreviation}}">{{state.abbreviation}}</md-option>
				</md-select>
			</md-input-container>
			<md-input-container>
				<label>ZipCode</label>
				<input type="tel" name="zipcode" ng-model="vm.client.zipcode" required ng-minlength="5" ng-maxlength="5" ng-pattern="/\d{5}/">
				<div ng-messages="jobForm.zipcode.$error" ng-show="jobForm.zipcode.$dirty">
					<div ng-message="required">This is required!</div>
					<div ng-message="minlength">That's too short!</div>
					<div ng-message="maxlength">That's too long!</div>
					<div ng-message="pattern">Incorrect format ex. 19464</div>
				</div>
			</md-input-container>
			<md-input-container>
				<label>Condition A</label>
				<input type="text" name="conditionA" ng-model="vm.client.conditionA" ng-minlength="3">
				<div ng-messages="jobForm.conditionA.$error" ng-show="jobForm.conditionA.$dirty">
					<div ng-message="minlength">That's too short!</div>
				</div>
			</md-input-container>
			<md-input-container>
				<label>Condition B</label>
				<input type="text" name="conditionB" ng-model="vm.client.conditionB" ng-minlength="3">
				<div ng-messages="jobForm.conditionB.$error" ng-show="jobForm.conditionB.$dirty">
					<div ng-message="minlength">That's too short!</div>
				</div>
			</md-input-container>
			<md-input-container>
				<label>Condition C</label>
				<input type="text" name="conditionC" ng-model="vm.client.conditionC" ng-minlength="3">
				<div ng-messages="jobForm.conditionC.$error" ng-show="jobForm.conditionC.$dirty">
					<div ng-message="minlength">That's too short!</div>
				</div>
			</md-input-container>
		</form>
	</md-card-content>
	<md-card-footer class="md-actions" layout="row" layout-align="end center" layout-padding>
		<md-button ng-click="vm.createJob(jobForm)" md-no-ink ng-disabled="jobForm.$invalid">
			<md-icon class="material-icons" ng-if="vm.btnName!='Save Job'">add_to_photos</md-icon>
			<md-icon class="material-icons" ng-if="vm.btnName=='Save Job'">save</md-icon>
			{{vm.btnName}}
		</md-button>
		<md-button ng-click="vm.cancel(jobForm)">
			<md-icon class="material-icons">close</md-icon>
			Close</md-button>
	</md-card-footer>
</md-card>