<md-card ng-controller="DangerSheetCtrl as vm">
	<md-card-content ng-class="vm.scroll">
		<!--<div layout="column" flex>-->
		<div layout="row" layout-align="start">
			<img src="./images/Color-Logo-address.png" alt="address" class="print">
			<span flex="20" class="print"></span>
			<address flex="65" hide-sm class="address">
					<b>Wells & Sons Chimney Service, Inc.</b>
					<dt>69 Congo Rd</dt>
					<dt>Gilbertsville, PA 19525</dt>
					<dt>P: (610) 473-6000</dt>
				</address>
			<address class="address">
					<b>{{vm.client.name}}</b>
					<dt>
						<md-input-container md-no-float="false" class="no-padding">
							<input type="text" placeholder="address" ng-model="vm.client.address">
						</md-input-container>
					</dt>
					<dt layout="row">
						<md-input-container md-no-float="false" flex class="no-padding">
							<input type="text" placeholder="city" ng-model="vm.client.city">
						</md-input-container>
						<md-input-container md-no-float="false" flex="20" class="no-padding">
							<input type="text" placeholder="state" ng-model="vm.client.state">
						</md-input-container>
						<md-input-container md-no-float="false" flex="25" class="no-padding">
							<input type="text" placeholder="zip" ng-model="vm.client.zipcode">
						</md-input-container>
					</dt>
				</address>
			<address class="print">
					<b>{{vm.client.name}}</b>
					<dt>{{vm.client.address}}</dt>
					<dt>{{vm.client.city}}, {{vm.client.state}} {{vm.client.zipcode}}</dt>
				</address>
		</div>
		<div layout="row" layout-align="start center">
			<md-input-container flex="20">
				<span>Dear: {{vm.client.name}}</span>
			</md-input-container>
			<span flex="30"></span>
			<div class="tech" layout="row" layout-align="start center" layout-fill>
				<md-input-container>
					<span>Technician:</span>
				</md-input-container>
				<md-input-container>
					<md-select ng-model="vm.client.tech" placeholder="Enter Technician">
						<md-option ng-value="user.name" ng-repeat="user in vm.users">{{ user.name }}</md-option>
					</md-select>
				</md-input-container>

			</div>
		</div>
		<p>Thank you for choosing Wells & Sons for your chimney sweeping and repair services.</p>
		<p>We always appreciate the opportunity to serve you, and provide you and your family with a safe and efficient heating system.
			We feel it to be our responsibility to advise you that the existing venting system for the indicated appliance is an unsafe
			condition for the reason(s) indicated:</p>
		<p>
			<b>Appliance:</b>
		</p>
		<div layout="row" layout-align="start end" layout-sm="column" layout-md="column" layout-align-sm="start start" layout-align-md="start start">
			<md-checkbox ng-model="vm.client.fireplace" aria-label="Fireplace">Fireplace</md-checkbox>
			<md-checkbox ng-model="vm.client.WoodStove" aria-label="WoodStove">Wood Stove</md-checkbox>
			<md-checkbox ng-model="vm.client.Insert" aria-label="Insert">Insert</md-checkbox>
			<md-checkbox ng-model="vm.client.OilFurnace" aria-label="OilFurnace">Oil Furnace</md-checkbox>
			<md-checkbox ng-model="vm.client.GasFurnace" aria-label="GasFurnace">Gas Furnace</md-checkbox>
			<md-checkbox ng-model="vm.client.PelletStove" aria-label="PelletStove">Pellet Stove</md-checkbox>
		</div>
		<div layout="column" layout-align="start start" class="condition-checkmark">
			<p>
				<b>Condition:</b>
			</p>
			<md-checkbox ng-model="vm.client.flue" aria-label="flue">
				<p class="checkbox-padding">Flue contains 3-D creosote glazing. Creosote is highly flammable, especially in large quantities when allowed to build
					up. This condition requires mechanical cleaning of the hardened deposits.</p>
			</md-checkbox>
			<md-checkbox ng-model="vm.client.venting" aria-label="venting">
				<p class="checkbox-padding">The venting system for the above appliance is improper, and not in accordance to acceptable code or manufacturer’s specifications.</p>
			</md-checkbox>
			<md-checkbox ng-model="vm.client.chimneyflues" aria-label="chimneyflues">
				<p class="checkbox-padding">The chimney flues are cracked and/or deteriorating, which can block the flue openings within the chimney.</p>
			</md-checkbox>
			<md-checkbox ng-model="vm.client.chimney" aria-label="chimney">
				<p class="checkbox-padding">The chimney is un-lined and deteriorating with missing mortar and/or brick(s) or chimney block and should be lined according
					to NFPA 211 standards and codes.</p>
			</md-checkbox>
		</div>
		<p>We strongly recommend that the above condition(s) be corrected prior to using the indicated appliance & venting system.
			Please be advised, Wells and Sons Chimney Service assumes no responsibility for damage caused to the interior of your
			unlined flue by sweeping the loose debris to open your flue. Also be advised an additional charge may be assessed for
			lengthy and large removal of debris.</p>
		<p>
			<b>Customer Verification:</b>
		</p>
		<p>I have read this form and understand which areas of my venting system are not satisfactory.</p>
		<div layout="row" layout-align="start end">
			<div flex="20" class="signature-words">
				<p>Customer Signature:</p>
			</div>
			<div id="signature-pad" class="m-signature-pad">
				<div class="m-signature-pad--body">
					<canvas></canvas>
				</div>
			</div>
		</div>
	</md-card-content>
	<div class="md-actions" layout="row" layout-align="start center">
		<md-button ng-click="vm.signature()">
			<md-icon class="material-icons">gesture</md-icon>
			Clear Signature</md-button>
		<span flex></span>
		<md-button ng-click="vm.print(vm.job)" ng-if="vm.printJob">
			<md-icon class="material-icons">print</md-icon>
			<span hide-sm>Print Job</span>
		</md-button>
		<md-button ng-click="vm.complete()">
			<md-icon class="material-icons">event_avialable</md-icon>
			Complete</md-button>
		<md-button ng-click="vm.close()">
			<md-icon class="material-icons">close</md-icon>
			Close</md-button>
	</div>
</md-card>