<md-dialog layout="column">
	<md-toolbar>
		<div class="md-toolbar-tools">
			<span>Manage Users</span>
			<!-- fill up the space between left and right area -->
			<span flex></span>

		</div>
	</md-toolbar>
	<md-dialog-content>
		<form name="createForm" novalidate>
			<md-input-container>
				<label>Name</label>
				<input type="text" ng-model="mdDialog.user.name" name="userName" required minlength="4">
				<div ng-messages="createForm.userName.$error" ng-show="createForm.userName.$dirty">
					<div ng-message="required">This is required!</div>
					<div ng-message="minlength">That's too short!</div>
				</div>
			</md-input-container>
			<md-input-container>
				<label>Email Address</label>
				<input type="text" ng-disabled="true" ng-model="mdDialog.user.email" name="email" required minlength="4" ng-pattern="/^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i">
				<div ng-messages="createForm.email.$error" ng-show="createForm.email.$dirty">
					<div ng-message="required">This is required!</div>
					<div ng-message="minlength">That's too short!</div>
					<div ng-message="pattern">You must enter a valid email address</div>
				</div>
			</md-input-container>
			<md-input-container>
				<label>Password</label>
				<input type="password" ng-model="mdDialog.user.newpassword" name="password" required>
				<div ng-messages="createForm.password.$error" ng-show="createForm.password.$dirty">
					<div ng-message="required">This is required!</div>
				</div>
			</md-input-container>
			
			<md-input-container  ng-if="!mdDialog.user.tempDate">
				<label>Crew</label>
				<md-select ng-model="mdDialog.user.crew" placeholder="Select a crew">
					<md-option ng-value="crew.name" ng-repeat="crew in vm.crews">{{ crew.name }}</md-option>
				</md-select>
			</md-input-container>
			<md-input-container ng-if="mdDialog.user.tempDate">
				<label>Crew</label>
				<md-select ng-model="mdDialog.user.tempCrew" placeholder="Select a crew">
					<md-option ng-value="crew.name" ng-repeat="crew in vm.crews">{{ crew.name }}</md-option>
				</md-select>
			</md-input-container>
			<div layout="row" layout-align="start center"  style="position: relative;top: -10px;">
				<p ng-if="mdDialog.user.tempDate">{{mdDialog.user.name}} now has access to {{ mdDialog.user.crew }} 
					.&nbsp;&nbsp;Access will revert back to {{mdDialog.user.tempCrew}} tomorrow.</p>
				<!--flip flop the select tag when the temp date is populated so the crews display in the correct section-->
				<!--<md-input-container flex ng-if="!mdDialog.user.tempDate">
					<label>Temp Crew</label>
					<md-select ng-model="mdDialog.user.tempCrew" placeholder="Select a temp crew">
						<md-option ng-value="crew.name" ng-repeat="crew in vm.crews">{{ crew.name }}</md-option>
					</md-select>
				</md-input-container>-->
				
			</div>

			<div layout="column">
				<div>Set Allowed Permissons</div>
				<div layout="row" layout-padding layout-sm="column" layout-md="column">
					<md-switch ng-model="mdDialog.user.createJob" aria-label="Create Job">Create Job</md-switch>
					<md-switch ng-model="mdDialog.user.editJob" aria-label="Edit Job">Edit Job</md-switch>
					<md-switch ng-model="mdDialog.user.deleteJob" aria-label="Delete Job">Delete Job</md-switch>
					<md-switch ng-model="mdDialog.user.printJob" aria-label="Print Job">Print Job</md-switch>
					<md-switch ng-model="mdDialog.user.adminstration" aria-label="Adminstration">Administration</md-switch>
				</div>
			</div>
		</form>
		<div class="md-action" layout="row" layout-align="end center" layout-fill>
			<md-button ng-click="mdDialog.removeTempCrew(mdDialog.user)" ng-if="mdDialog.user.tempCrew">
					<md-icon class="material-icons">remove_circle</md-icon>
					<span hide-sm>remove temp crew</span>
				</md-button>
			<md-button ng-click="mdDialog.remove(mdDialog.user)">
				<md-icon class="material-icons">delete</md-icon>
				<span hide-sm>remove</span>
			</md-button>
			<md-button ng-click="mdDialog.showReassignDialog(mdDialog.user,createForm)">
				<md-icon class="material-icons">swap_calls</md-icon>
				<span hide-sm>reassign</span>
			</md-button>
			<md-button ng-click="mdDialog.update(mdDialog.user,createForm)">
				<md-icon class="material-icons">save</md-icon>
				<span hide-sm>save</span>
			</md-button>
			<md-button ng-click="mdDialog.closeDialog()">
				<md-icon class="material-icons">cancel</md-icon>
				<span hide-sm>cancel</span>
			</md-button>
		</div>

	</md-dialog-content>
</md-dialog>