<md-card>
	<md-card-content layout="column" layout-align="start" layout-fill>

		<div class="title">
			<h2 class="md-title">SELECT A JOB</h2>
			<div layout="row" layout-align="start start" layout-padding ng-if="vm.printJob">
				<md-icon md-font-set="material-icons" style="padding-left: 25px;"> search </md-icon>
				<md-input-container md-no-float="false" flex>
					<input type="text" ng-model="vm.search" placeholder="Search">
				</md-input-container>
				<md-icon md-font-set="material-icons" style="position: absolute; right: 60px;top: 115px;" ng-click="vm.search=''" ng-if="vm.search != ''">
					clear </md-icon>
			</div>


			<!--<div ng-if="vm.printJob" >

				<md-input-container md-no-float="false" flex >
					<md-autocomplete md-selected-item="selectedItem" md-search-text="vm.search" md-items="item in getMatches(searchText)" md-item-text="item.display"
					>
						<span md-highlight-text="searchText">{{item.display}}</span>
					</md-autocomplete>

				</md-input-container>
			</div>-->


		</div>
		<section layout="row" layout-sm="column" layout-align="center center">
			<md-button class="groupX left" ng-click="vm.todaySearch()" ng-class="{selected:vm.search == vm.todaySetClass}">Today</md-button>
			<md-button class="groupX middle" ng-click="vm.tomorrowSearch()" ng-class="{selected:vm.search == vm.tomorrowSetClass}">Tommorrow</md-button>
			<md-button class="groupX middle" ng-click="vm.search = 'Complete'" ng-class="{selected:vm.search == 'Complete'}">Complete</md-button>
			<md-button class="groupX middle" ng-click="vm.search = 'Printed'" ng-class="{selected:vm.search == 'Printed'}" ng-if="vm.printJob">Printed</md-button>
			<md-button class="groupX right" ng-click="vm.search = ''" ng-class="{selected:vm.search == ''}">All</md-button>
		</section>

		<md-list>
			<md-list-item>
				<!--<p style="position: inherit;left: 14px;">Name</p>-->
				<p>Name</p>
				<p>Crew</p>
				<p>Status</p>
				<p>Job Date
					<md-tooltip>
						jobDate
					</md-tooltip>
				</p>
				<p>Completion Date
					<md-tooltip>
						completionDate
					</md-tooltip>
				</p>
			</md-list-item>
		</md-list>
		<div ng-class="vm.scroll">

			<md-list layout="column" flex>
				<!--|jobFilter:vm.search-->
				<div sv-root sv-part="vm.jobs" sv-on-sort="vm.onSortHandler($item, $partFrom, $partTo, $indexFrom, $indexTo)">
					<md-list-item sv-element="opts" ng-repeat-start="job in vm.jobs" ng-click="vm.setSelectedJob($event,job)" ng-class="{selected:vm.setSelectedClass(job)}">
						<p layout="row" layout-align="start center">
							<!--<span sv-handle ng-show="vm.search == ''">-->
							<span sv-handle>
							 <md-icon class="material-icons">reorder</md-icon>
						 	</span>
							<span>{{job.name}}</span>
						</p>
						<p>{{job.crew}}</p>
						<p ng-bind="job.status || 'Open'"></p>
						<p>{{job.jobDate|amDateFormat:'ddd, MMM Do YYYY'}}</p>
						<p>{{job.completedDate|amDateFormat:'ddd, MMM Do YYYY'}}</p>
					</md-list-item>
					<md-divider ng-if="!$last" ng-repeat-end></md-divider>
				</div>
			</md-list>
		</div>
	</md-card-content>
	<md-card-footer class="md-actions" layout="row" layout-align="end center" layout-padding>
		<md-button ng-click="vm.delete(vm.job)" ng-disabled="vm.disableOptions()" ng-if="vm.deleteJob">
			<md-icon class="material-icons">clear</md-icon>
			<span hide-sm>Delete Job</span></md-button>
		<md-button ng-click="vm.edit(vm.job,$event)" ng-disabled="!vm.selectedList.length > 0" ng-if="vm.editJob">
			<md-icon class="material-icons">mode_edit</md-icon>
			<span hide-sm>Edit Job</span></md-button>
		<md-button ng-click="vm.open(vm.job,$event)" ng-disabled="vm.disableOptions()">
			<md-icon class="material-icons">inbox</md-icon>
			<span hide-sm>Open Job</span></md-button>
	</md-card-footer>
</md-card>