<md-card>
	<md-card-content>
		<div layout="row">
<h2>Login</h2>
		</div>
		<form name="loginForm" novalidate>
			<md-input-container>
				<label>Username</label>
				<input type="text" ng-model="vm.user.email" name="userName" required minlength="4" ng-pattern="/^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i">
				<div ng-messages="loginForm.userName.$error" ng-show="loginForm.userName.$dirty">
					<div ng-message="required">This is required!</div>
					<div ng-message="minlength">That's too short!</div>
					<div ng-message="pattern">You must enter a valid email address</div>
				</div>
			</md-input-container>
			<md-input-container>
				<label>Password</label>
				<input type="password" ng-model="vm.user.password" name="password" required ng-keydown="vm.login($event,loginForm)">
				<div ng-messages="loginForm.password.$error" ng-show="loginForm.password.$dirty">
					<div ng-message="required">This is required!</div>
				</div>
			</md-input-container>
		</form>
	</md-card-content>
	<md-card-footer>
		<div class="md-actions" layout="row" layout-align="end center">
			<md-button ng-click="vm.login($event,loginForm)" ng-disabled="loginForm.$invalid">Login</md-button>
			<md-button ng-click="vm.cancel(loginForm)">Cancel</md-button>
		</div>
	</md-card-footer>
	<div layout="row" layout-align="center end">
		<p>version:0.93.2</p>
	</div>
</md-card>