<md-dialog layout="column">
	<md-dialog-content>
		<div layout="column" class="md-padding">
			<div layout="row" layout-align="center center">
				<label style="padding-right: 10px">Reassign project(s) to:  </label>
				<md-select ng-model="vm.selectedUser" placeholder="Select new user">
					<md-option ng-value="user" ng-repeat="user in vm.users">{{ user.name }}</md-option>
				</md-select>
			</div>
		</div>
		<div class="md-action" layout="row" layout-align="end center">
			<md-button ng-click="vm.change(vm.selectedUser)">add</md-button>
			<md-button ng-click="vm.closeDialog()">cancel</md-button>
		</div>
	</md-dialog-content>
</md-dialog>