<md-card ng-controller="ReportCtrl as vm">
	<md-card-content>
		<div ng-class="vm.scroll">
			<div layout="column" flex>
				<div layout="row" layout-align="start">
					<img src="./images/Color-Logo-address.png" alt="address" class="print">
					<span flex="20" class="print"></span>
					<address flex="65" hide-sm class="address">
					<b>The Slaterock Gravel Company</b>
					<dt>222 Rocky Way</dt>
					<dt>Bedrock, LA 70777</dt>
					<dt>P: (111) 222-6000</dt>
				</address>
					<address class="address">
					<b>{{vm.client.name}}</b>
					<md-input-container md-no-float="false" class="no-padding" class="address">
						<input type="text" placeholder="address" ng-model="vm.client.address">
					</md-input-container>
					<div layout="row">
						<md-input-container md-no-float="false" flex class="no-padding">
							<input type="text" placeholder="city" ng-model="vm.client.city">
						</md-input-container>
						<md-input-container md-no-float="false" flex="20" class="no-padding">
							<input type="text" placeholder="state" ng-model="vm.client.state">
						</md-input-container>
						<md-input-container md-no-float="false" flex="25" class="no-padding">
							<input type="text" placeholder="zip" ng-model="vm.client.zipcode">
						</md-input-container>
					</div>
				</address>
					<address class="print">
					<b>{{vm.client.name}}</b>
					<dt>{{vm.client.address}}</dt>
					<dt>{{vm.client.city}}, {{vm.client.state}} {{vm.client.zipcode}}</dt>
				</address>
				</div>
				<div class="tech" layout="row" layout-align="start center" layout-fill>
					<md-input-container>
						<span>Technician:</span>
					</md-input-container>
					<md-input-container>
						<md-select ng-model="vm.client.tech" placeholder="Enter Technician" md-on-close="vm.setTechID(vm.client.tech)">
							<md-option ng-value="user.name" ng-repeat="user in vm.users">{{ user.name }}</md-option>
						</md-select>
					</md-input-container>
					<span flex="20"></span>
					<div class="print" layout-align="end">
						<span>Date:</span> {{vm.completedDate}}
					</div>

				</div>
				<p class="removeFromPrint">Condition Report</p>
				<div layout="row" layout-align="start" class="removeFromPrint">
					<div flex="40" flex-sm="100">
						<md-input-container md-no-float="false">
							<input type="text" placeholder="a" ng-model="vm.client.conditionA">
						</md-input-container>
						<md-input-container md-no-float="false">
							<input type="text" placeholder="b" ng-model="vm.client.conditionB">
						</md-input-container>
						<md-input-container md-no-float="false">
							<input type="text" placeholder="c" ng-model="vm.client.conditionC">
						</md-input-container>
					</div>
					<div flex offset="33" hide-sm>
						<md-list>
							<md-list-item>S - Satisfactory</md-list-item>
							<md-list-item>X - Unsatisfactory</md-list-item>
							<md-list-item>N/A - Not Applicable</md-list-item>
						</md-list>
					</div>
				</div>
				<md-divider></md-divider>
				<div layout="column" layout-align="start start" layout-fill>
					<md-list layout="row" layout-fill>
						<md-list-item>
							<h4>Points of Visual Inspection</h4>
						</md-list-item>
						<md-list-item hide-sm ng-class="{hideOnPrint:vm.hideA,hideBorder:vm.borderA}">
							<h4 ng-bind="vm.client.conditionA"></h4>
						</md-list-item>
						<md-list-item hide-sm ng-class="{hideOnPrint:vm.hideB,hideBorder:vm.borderB}">
							<h4 ng-bind="vm.client.conditionB"></h4>
						</md-list-item>
						<md-list-item hide-sm ng-class="{hideOnPrint:vm.hideC}">
							<h4 ng-bind="vm.client.conditionC"></h4>
						</md-list-item>
					</md-list>
					<md-list ng-repeat="header in vm.headers" layout="row" layout-fill flex md-item-size="20">
						<md-list-item class="reportList">{{$index +1 }}. {{header.name}}</md-list-item>
						<md-list-item hide-sm ng-class="{hideOnPrint:vm.hideA,hideBorder:vm.borderA}">
							<md-input-container>
								<md-select ng-model="vm.client[header.model + 'A']" placeholder=" " aria-label="sometext">
									<md-option ng-repeat="opt in vm.options" ng-value="opt">{{opt}}</md-option>
								</md-select>
							</md-input-container>
						</md-list-item>
						<md-list-item hide-sm ng-class="{hideOnPrint:vm.hideB,hideBorder:vm.borderB}">
							<md-input-container>
								<md-select ng-model="vm.client[header.model + 'B']" placeholder=" " aria-label="sometext">
									<md-option ng-repeat="opt in vm.options" ng-value="opt">{{opt}}</md-option>
								</md-select>
							</md-input-container>
						</md-list-item>
						<md-list-item hide-sm ng-class="{hideOnPrint:vm.hideC}">
							<md-input-container>
								<md-select ng-model="vm.client[header.model + 'C']" placeholder=" " aria-label="sometext">
									<md-option ng-repeat="opt in vm.options" ng-value="opt">{{opt}}</md-option>
								</md-select>
							</md-input-container>
						</md-list-item>
					</md-list>
				</div>

				<md-divider></md-divider>
				<p>
					<b style="padding-right:10px">Note:</b>This condition report is a result of a visual inspection done at the time of
					the cleaning. It is intended as a convenience to our clients, not as a certification (unless noted), of fire worthiness
					or safety. Since conditions of use and hidden construction defects are beyond our control, we make no warranty of the
					safety or function of any appliance and none is to be implied.</p>
				<div class="page-break"></div>
				<md-input-container class="hideOnPrint">
					<label>Technicians Comments:</label>
					<textarea ng-model="vm.client.technicians"></textarea>
				</md-input-container>
				<md-input-container class="hideOnPrint">
					<label>Recommendations:</label>
					<textarea ng-model="vm.client.recommendations"></textarea>
				</md-input-container>
				<div class="print">
					<label>Technicians Comments:</label>
					<div>{{vm.client.technicians}}</div>
					<label>Recommendations:</label>
					<div>{{vm.client.recommendations}}</div>
				</div>
				<p>Client Verification - I have read this form and understand which areas of my venting system are satisfactory and which
					areas are unsatisfactory.</p>
			</div>
			<div layout="row" layout-align="start end">
				<div flex="20" class="signature-words">
					<p>Customer Signature:</p>
				</div>
				<div id="signature-pad" class="m-signature-pad">
					<div class="m-signature-pad--body">
						<canvas></canvas>
					</div>
				</div>
				<div class="signature-words" layout-align="end">
					<span>Date:</span> {{vm.completedDate}}
				</div>
			</div>
		</div>
	</md-card-content>
	<div class="md-actions" layout="row" layout-align="start center">
		<md-button ng-click="vm.signature()">
			<md-icon class="material-icons">gesture</md-icon>
			Clear Signature</md-button>
		<span flex></span>
		<md-button ng-click="vm.print()" ng-if="vm.printJob">
			<md-icon class="material-icons">print</md-icon>
			<span hide-sm>Print Job</span>
		</md-button>
		<md-button ng-click="vm.complete()">
			<md-icon class="material-icons">event_avialable</md-icon>
			Complete</md-button>
		<md-button ng-click="vm.close()">
			<md-icon class="material-icons">close</md-icon>
			Close</md-button>
	</div>
</md-card>