<md-card ng-controller="WaterSheetCtrl as vm">
	<md-card-content ng-class="vm.scroll">
		<!--<div layout="column" flex>-->
		<div layout="row" layout-align="start">
			<img src="./images/Color-Logo-address.png" alt="address" class="print">
			<span flex="20" class="print"></span>
			<address flex="65" hide-sm class="address">
					<b>Wells & Sons Chimney Service, Inc.</b>
					<dt>69 Congo Rd</dt>
					<dt>Gilbertsville, PA 19525</dt>
					<dt>P: (610) 473-6000</dt>
				</address>
			<address class="address">
					<b>{{vm.client.name}}</b>
					<dt>
						<md-input-container md-no-float="false" class="no-padding">
							<input type="text" placeholder="address" ng-model="vm.client.address">
						</md-input-container>
					</dt>
					<dt layout="row">
						<md-input-container md-no-float="false" flex class="no-padding">
							<input type="text" placeholder="city" ng-model="vm.client.city">
						</md-input-container>
						<md-input-container md-no-float="false" flex="20" class="no-padding">
							<input type="text" placeholder="state" ng-model="vm.client.state">
						</md-input-container>
						<md-input-container md-no-float="false" flex="25" class="no-padding">
							<input type="text" placeholder="zip" ng-model="vm.client.zipcode">
						</md-input-container>
					</dt>
				</address>
			<address class="print">
					<b>{{vm.client.name}}</b>
					<dt>{{vm.client.address}}</dt>
					<dt>{{vm.client.city}}, {{vm.client.state}} {{vm.client.zipcode}}</dt>
				</address>
		</div>
		<div layout="row" layout-align="center center">
			<h3>The Effects of water on your chimney</h3>
		</div>
		<p>Solving and correcting water problems in the home is one of the most difficult tasks confronted by today’s homeowner.</p>
		<p>Wells & Sons Chimney Service makes every effort to determine the cause of the water leak and resolve the problem on the
			very first visit.</p>
		<p>We start with the most obvious causes that permit rain to enter the chimney, such as:</p>
		<div layout="column" class="check-marks">
			<p>
				<i class="material-icons">check</i>Is the chimney flue protected with a chimney cap?</p>
			<p>
				<i class="material-icons">check</i>Is the chimney crown in good condition?</p>
			<p>
				<i class="material-icons">check</i>Are there any cracks in the chimney structure?</p>
			<p>
				<i class="material-icons">check</i>Is the flashing where the chimney meets the roof secure and in good condition?</p>
		</div>
		<p>Sometimes, however, the actual cause of the water problem may be elsewhere in the structure of the home, such as in the
			roof. And if the water has found an escape path, as through the chimney itself, it may not manifest itself elsewhere in
			the home, as in a leaking ceiling, etc.</p>
		<p>We will not abandon you, but due to the unusual nature of water leaks and their causes, we cannot guarantee that the remedies
			that we offer to you will indeed stop the leak in the chimney. If we have to make subsequent trips they are billable.</p>
		<p>Based on our knowledge and our previous experiences in resolving water leaks in chimneys, we can promise to offer you the
			Best Possible Solution.</p>
		<div layout="row" layout-align="center">
			<p>This form must be signed and returned to Wells & Sons Chimney Service prior to any work being performed at your property.</p>
		</div>
		<h4>I have read and understand the above disclosure.</h4>
		<div layout="row" layout-align="start end">
			<div flex="20" class="signature-words">
				<p>Customer Signature:</p>
			</div>
			<div id="signature-pad" class="m-signature-pad">
				<div class="m-signature-pad--body">
					<canvas></canvas>
				</div>
			</div>
		</div>
	</md-card-content>
	<div class="md-actions" layout="row" layout-align="start center">
		<md-button ng-click="vm.signature()">
			<md-icon class="material-icons">gesture</md-icon>
			Clear Signature</md-button>
		<span flex></span>
		<md-button ng-click="vm.print(vm.job)" ng-if="vm.printJob">
			<md-icon class="material-icons">print</md-icon>
			<span hide-sm>Print Job</span>
		</md-button>
		<md-button ng-click="vm.complete()">
			<md-icon class="material-icons">event_avialable</md-icon>
			Complete</md-button>
		<md-button ng-click="vm.close()">
			<md-icon class="material-icons">close</md-icon>
			Close</md-button>
	</div>
</md-card>