<h1><code ng:non-bindable="">AdminCtrl</code>
<div><span class="hint">service in module <code ng:non-bindable="">ConditionApp.controller</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="conditionapp-controller-adminctrl-page"><p>Admin Controller admin.html</p>
</div></div>
<h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="api/currentAuth">currentAuth</a></code>
</li>
<li><code ng:non-bindable=""><a href="api/FireBaseRef">FireBaseRef</a></code>
</li>
<li><code ng:non-bindable=""><a href="api/ng.$firebaseArray">$firebaseArray</a></code>
</li>
<li><code ng:non-bindable=""><a href="api/FireBaseAuth">FireBaseAuth</a></code>
</li>
<li><code ng:non-bindable=""><a href="api/ng.$mdDialog">$mdDialog</a></code>
</li>
<li><code ng:non-bindable=""><a href="api/ng.$mdToast">$mdToast</a></code>
</li>
<li><code ng:non-bindable=""><a href="api/ng.$scope">$scope</a></code>
</li>
<li><code ng:non-bindable=""><a href="api/ng.$firebaseObject">$firebaseObject</a></code>
</li>
<li><code ng:non-bindable=""><a href="api/ng.$window">$window</a></code>
</li>
<li><code ng:non-bindable=""><a href="api/Orientation">Orientation</a></code>
</li>
<li><code ng:non-bindable=""><a href="api/deviceDetector">deviceDetector</a></code>
</li>
<li><code ng:non-bindable=""><a href="api/LocalDatabase">LocalDatabase</a></code>
</li>
<li><code ng:non-bindable=""><a href="api/ng.$rootScope">$rootScope</a></code>
</li>
<li><code ng:non-bindable=""><a href="api/DateISO">DateISO</a></code>
</li>
</ul>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods__remove">_remove(itemToRemove)</h3>
<div class="_remove"><div class="-remove-page"><p>Remove either the user or crew</p>
</div><h5 id="methods__remove_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>itemToRemove</td><td><a href="" class="label type-hint type-hint-object">Object</a><a href="" class="label type-hint type-hint-string">string</a></td><td><div class="-remove-page"><p>The item to remove</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods__remove">_remove(itemToRemove)</h3>
<div class="_remove"><div class="-remove-page"><p>Remove crew</p>
</div><h5 id="methods__remove_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>itemToRemove</td><td><a href="" class="label type-hint type-hint-object">Object</a><a href="" class="label type-hint type-hint-string">string</a></td><td><div class="-remove-page"><p>The item to remove</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods__remove">_remove(itemToRemove)</h3>
<div class="_remove"><div class="-remove-page"><p>Remove user</p>
</div><h5 id="methods__remove_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>itemToRemove</td><td><a href="" class="label type-hint type-hint-object">Object</a><a href="" class="label type-hint type-hint-string">string</a></td><td><div class="-remove-page"><p>The item to remove</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods__showreassigndialog">_showReassignDialog($event, obj)</h3>
<div class="_showreassigndialog"><div class="-showreassigndialog-page"><p>show reassign dialog.  Allows the admin to reassign all jobs to another user</p>
</div><h5 id="methods__showreassigndialog_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>$event</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="-showreassigndialog-page"><p>Button click</p>
</div></td></tr><tr><td>obj</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="-showreassigndialog-page"><p>The user to reassign</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_enroll">enroll(form, $event)</h3>
<div class="enroll"><div class="enroll-page"><p>Enroll new admin user</p>
</div><h5 id="methods_enroll_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>form</td><td><a href="" class="label type-hint type-hint-htmlformelement">HTMLFormElement</a></td><td><div class="enroll-page"><p>new admin user HTML form</p>
</div></td></tr><tr><td>$event</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="enroll-page"><p>key pressed</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_showadddialog">showAddDialog($event)</h3>
<div class="showadddialog"><div class="showadddialog-page"><p>show add dialog.  Add admin user</p>
</div><h5 id="methods_showadddialog_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>$event</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="showadddialog-page"><p>The button clicked</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_showalert">showAlert(error)</h3>
<div class="showalert"><div class="showalert-page"><p>show alert dialog</p>
</div><h5 id="methods_showalert_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>error</td><td><a href="" class="label type-hint type-hint-string">string</a></td><td><div class="showalert-page"><p>The error to display</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_showeditdialog">showEditDialog($event, obj)</h3>
<div class="showeditdialog"><div class="showeditdialog-page"><p>show edit dialog.  Edit admin user</p>
</div><h5 id="methods_showeditdialog_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>$event</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="showeditdialog-page"><p>Button click</p>
</div></td></tr><tr><td>obj</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="showeditdialog-page"><p>The user to edit</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_showtoast">showToast(toast)</h3>
<div class="showtoast"><div class="showtoast-page"><p>Show toast message at the bottom of the screen</p>
</div><h5 id="methods_showtoast_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>toast</td><td><a href="" class="label type-hint type-hint-string">string</a></td><td><div class="showtoast-page"><p>The message to display</p>
</div></td></tr></tbody></table></div>
</li>
</ul>
</div>
</div>
